<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tesla.cloud.mapper.BookMapper">
    <!-- type为实体类Book，包名已经配置，可以直接写类名 -->
    <resultMap id="BaseResultMap" type="BookEntity">
        <id property="id" column="id" />
        <result property="bookName" column="book_name" />
        <result property="publisher" column="publisher" />
        <result property="author" column="author" />
        <result property="description" column="description" />
    </resultMap>

    <select id="queryByBookName" resultMap="BaseResultMap" parameterType="java.lang.String" resultType="list">
        SELECT ID,BOOK_NAME,PUBLISHER,AUTHOR,DESCRIPTION FROM T_BOOK WHERE book_name LIKE CONCAT('%',#{bookName},'%')
    </select>


</mapper>