<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tesla.cloud.mapper.BookMapper">
    <!-- type为实体类Book，包名已经配置，可以直接写类名 -->
    <resultMap id="BaseResultMap" type="BookEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
        <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByBookName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT ID,BOOK_NAME,PUBLISHER,AUTHOR,DESCRIPTION FROM t_books WHERE BOOK_NAME LIKE CONCAT('%',#{bookName},'%')
    </select>


</mapper>